/* Styling for About page */
main{
    display: flex;
}

.professional-photo{
    border: 1px solid red;
    margin: 2em 1em;
}

.bio-section{
    border: 1px solid green;
    margin: 2em 1em;
}

.bio-section > h2{
    font-size: 2em;
    padding: 0.5em;
}

.bio-section > p{
    font-size: 1.2em;
    padding: 0.5em 0.9em;
}
