/* Styling for the Contact page */
:root{
    /* Electiric blue color variants*/
    --electric-blue-1: #00FFFF;
    --electric-blue-2: #007FFF;
    --electric-blue-3: #1F75FE;
    --electric-blue-4: #162CF1;
    --electric-blue-5: #081DD1;
    --electric-blue-6: #091AAF;
    --electric-blue-7: #031088;
}

body{
    display: flex;
    flex-direction: column;
}

main > .contact{
    justify-self: center;
    border: 1px solid red;
    margin: 2em 1em;
}

main > .contact > h1{
    font-size: 2em;
    padding: 0.8em 0;
    text-align: center;
}

main > .contact > h2{
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 0.2em;
}

main > .contact > p{
    font-size: 1.2em;
    text-align: center;
    margin: 0.2em;
}
