/* Styling for the Home page */
main{
    display: flex;
    justify-content: center;
}

.introduction{
    width: 80%;
    text-align: center;
    margin: 2em 1em;
    border: 2px solid black;
}

.introduction > h1{
    font-size: 2em;
    margin: 0.2em 1em;
}

.introduction > p{
    font-size: 1.2em;
    margin: 0.15em 1em;
}
